.inner-search-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(1, 0, 0, .3);
    background-color: #36e0d9;
    margin: 0 auto 15px;
}

.inner-search-events-container h2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-basis: auto;
    font-size: 5rem;
    line-height: 4.375rem;
    color: #ff3e92;
    margin-bottom: 30px;

}

.inner-search-events-container p {
    display: flex;
    flex-direction: column;
    font-size: 1.5625rem;
    line-height: 1.25rem;
    align-items: center;
    color: #ff3e92;
    margin: 0 auto 15px;
}