.contact {
    display: flex;
    align-content: center;
    flex-direction: column;
    color: #561e86;
    background-color: #F8F8F8;
    flex-basis: 450px;
    font-size: 25px;
    padding: 50px 112px;
    margin: 0px 0px 15px;
}

.contact  input {
    display: flex;
    background-color: #E8F0FE;
    height: 25px;
    width: 250px;
    border-radius: 20px;
    margin: 4px 0px 4px;
    padding: 1px 15px;
    font-size: 16px;

}

