.inner-home-welcome-container {
    display: flex;
    justify-content: center;

}

.inner-home-welcome-container p {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.3em;

}