/*.outer-home-welcome-container {*/
/*    display: flex;*/
/*    width: auto;*/
/*    color: black;*/
/*    justify-content: left;*/
/*    align-items: center;*/
/*    font-size: 30px;*/
/*    margin: auto;*/
/*}*/
.inner-home-welcome-container {
    display: flex;
    justify-content: center;

}

.inner-home-welcome-container p {
    display: flex;
    padding: 10px;
    color: white;
    top: 100px;
    font-size: 80px;

    }
