.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #ff3e92;
}

.nav-container button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-color: transparent;
    background-color: #ff3e92;
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 0px;
}

.ul-container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-basis: 800px;
}

.dropdown-menu {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-wrapper:hover .dropdown-menu {
    display: block;
}

.dropdown-menu li {
    margin-bottom: 100px;
}

.default-home {
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.default-link {
    color: white;
    font-size: 25px;
    text-decoration: none;
}
