.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
}
.ul-container{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-basis: 800px;
}
.default-home {
    color: white;
    font-size: 25px }
.default-link {
    color: white;
    font-size: 25px
}

