.nav-container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 20px 10px;
    background-color: #ff3e92;

}

.nav-container button {

    background-color: #ff3e92;

}
.ul-container{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-basis: 800px;

}


.default-home {
    color: white;
    font-size: 25px;
    text-decoration: none;
    }


.default-link {
    color: white;
    font-size: 25px;
    text-decoration: none;

}

