.outer-searchbar-container {
    display: flex;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    padding:170px;
    font-size: 16px;

}
.inner-searchbar-container {
    display: flex;
    width: 100px;
    padding: 25px 150px;
    font-size: 25px;
    margin: 100px;
    flex-direction: column;
    align-items: center;
}

.inner-searchbar-container input {
    display: flex;
    border-radius: 25px;
    border:none;
    width: 550px;
    height: 50px;
    font-size: 25px;
}

.inner-searchbar-container button {
    display: inline-flex;
    width: fit-content;
    color: white;
    background-color: #ff3e92;
    border-radius: 30px;
    border: 2px solid #ff3e92;
    overflow: hidden;
    position: relative;
    margin: 5px 0px 4px;
    padding: 10px 25px;
}

.dropdown {
    background-color: white;
    width: 550px;
    display: flex;
    flex-direction: column;
    border: 30px solid white;
    border-radius: 25px;
    justify-content: center;

    }

.dropdown:empty {
    border: white;
}

.dropdown-row {
    display: flex;
    padding: 2px;
    cursor: pointer;
    justify-content: left;
    justify-self: center;

}

