.searchbar {
    font-family: Inter;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.search-container {
    display: flex;
    width: 400px;
    color:black;
    border-radius: 50px;
    padding: 25px 150px;
    font-size: 25px;
    margin: 100px;
    flex-direction: column;
    align-items: center;
}

.search-inner {
    font-size:25px;
    font-weight:0;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    border-radius: 50px;    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 8px 4px rgba(0, 0, 0, .2);
    padding: 25px 40px;
    margin: auto;
}
.dropdown {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 30px solid white;
}

.dropdown:empty {
    border: white;
}

.dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;

}
