outer-searchbar-container {
    display: flex;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    font-size: 16px;
    flex-direction: column;
    align-content: space-between;
}

.inner-searchbar-container {
    display: flex;
    color: #ff3e92;
    padding: 25px 150px;
    font-size: 25px;
    margin: 100px;
    flex-direction: column;
    align-items: center;
}


.inner-searchbar-container input {
    display: flex;
    border-radius: 30px;
    border: 2px solid #ff3e92;
    width: 750px;
    height: 35px;
    font-size: 25px;
    padding: 10px;

}

.inner-searchbar-container button {
    display: flex;
    color: white;
    background-color: #ff3e92;
    border-radius: 30px;
    border: 10px solid #ff3e92;
    overflow: hidden;
    position: relative;
    padding: 11px 33px;
    bottom: 57px;
    left: 335px;

}

.dropdown:empty {
    border: white;
}

.outer-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 750px;
    padding: 0px;
    border-radius: 20px;
    border: 1px solid rgba(1, 0, 0, .3);
    background-color: #faf380;
    margin: 0 auto 15px;
}

.inner-events-container h2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-basis: auto;
    font-size: 5rem;
    line-height: 4.375rem;
    color: #ff3e92;
    margin-bottom: 30px;

}

.inner-events-container p {
    display: flex;
    flex-direction: column;
    font-size: 1.5625rem;
    line-height: 1.25rem;
    align-items: center;
    color: #ff3e92;
    margin: 0 auto 15px;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;


}

.button-container .left-btn {
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-right: auto;
    width: fit-content;



}
.button-container .right-btn {
    display: flex;
    justify-content: right;
    flex-direction: row;
    margin-right: auto;
    width: fit-content;

}

