.outer-registerEvent-container {
    color: black;
    font-size: 13px;
    background-color: white;
}

.inner-registerEvent-container {
    color: #561e86;
    background-color: #F8F8F8;
    flex-basis: 450px;
    font-size: 14px;
    padding: 50px 112px;
    margin: 0px 0px 15px;
}

.inner-registerEvent-container p {
    font-size: 25px;
    }

.inner-registerEvent-container label {
    font-size: 20px;
}

.inner-registerEvent-container input {
    display: flex;
    background-color: #E8F0FE;
    height: 25px;
    width: 250px;
    border-radius: 20px;
    margin: 4px 0px 4px;
    padding: 1px 5px

}

.inner-registerEvent-container button {
    display: inline-flex;
    width: fit-content;
    padding: 5px 25px;
    margin: 5px;
    color: white;
    background-color: #ff3e92;
    border-radius: 30px;
    border: 2px solid #ff3e92;
    overflow: hidden;
    position: relative;
    font-size: 20px;

}
.inner-registerEvent-container form p {
    color: black;
    display: flex;
    gap: 5px;

}