.outer-list-events-container {
    color: black;
    font-size: 16px;
}
.inner-list-events-container {
    color: #7963E0;
    background-color: #F8F8F8;
    flex-basis: 450px;
    font-size: 16px;
    padding: 75px;
}

.inner-list-events-container p {
    font: 25px Inter;
    color: white;
    background-color: #7963E0;

}