.outer-popular-events-container p {
    display: flex;
    font-size: 7rem;
    color: white;
    flex-direction: column;
    align-items: center;
}

.inner-popular-events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(10, 0, 0, 0);
    background-color: #faf380;
    margin: 0 auto 15px;
}

.inner-popular-events-container h2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-basis: auto;
    font-size: 5rem;
    line-height: 4.375rem;
    color: #ff3e92;
    margin-bottom: 30px;

}

.inner-popular-events-container p {
    display: flex;
    flex-direction: column;
    font-size: 1.625rem;
    line-height: 1.8rem;
    align-items: center;
    color: #ff3e92;

}
